<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="distributed.cache.redis.mapper.OmsOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="distributed.cache.redis.entity.OmsOrderDetail">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="product_id" property="productId"/>
        <result column="member_id" property="memberId"/>
        <result column="product_pic" property="productPic"/>
        <result column="product_name" property="productName"/>
        <result column="product_brand" property="productBrand"/>
        <result column="product_sn" property="productSn"/>
        <result column="product_price" property="productPrice"/>
        <result column="real_price" property="realPrice"/>
        <result column="quantity" property="quantity"/>
        <result column="product_sku_id" property="productSkuId"/>
        <result column="product_sku_code" property="productSkuCode"/>
        <result column="product_category_id" property="productCategoryId"/>
        <result column="product_attr" property="productAttr"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, member_id, product_id, product_pic, product_name, product_brand, product_sn, product_price, real_price,
        quantity, product_sku_id, product_sku_code, product_category_id, product_attr
    </sql>

    <!--若使用shardingsphere的分布式ID生成算法，雪花算法，这里就不用设置order_id字段的值，
            shardingsphere会自动根据雪花算法给我们生成订单id-->
    <insert id="insertOrderDetailList" parameterType="list">

        INSERT INTO oms_order_detail
        (order_id, member_id, product_id, product_pic, product_name, product_brand, product_sn, product_price, real_price, quantity, product_sku_id, product_sku_code, product_category_id, product_attr)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderId,jdbcType=BIGINT},
            #{item.memberId},
            #{item.productId},
            #{item.productPic},
            #{item.productName},
            #{item.productBrand},
            #{item.productSn},
            #{item.productPrice},
            #{item.realPrice},
            #{item.quantity},
            #{item.productSkuId},
            #{item.productSkuCode},
            #{item.productCategoryId},
            #{item.productAttr}
            )
        </foreach>
    </insert>
</mapper>
