<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nerotomato.mapper.UmsMemberMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <!--jdbcType需要全部是大写-->
    <resultMap type="com.nerotomato.entity.UmsMember" id="umsMemberMap">

        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="create_time" jdbcType="DATE"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="queryAllMembers" resultMap="umsMemberMap">
        select *
        from ums_member
        where 1=1
    </select>

    <select id="queryMembersByPage" resultMap="umsMemberMap">
        select *
        from ums_member
        where 1=1
    </select>

    <insert id="insertMember" parameterType="com.nerotomato.entity.UmsMember">
        INSERT INTO ums_member
        (username, password, nickname, telephone, status, create_time, gender, birthday, city, job)
        VALUES(#{username}, #{password}, #{nickname}, #{telephone}, #{status}, #{create_time}, #{gender},
        #{birthday},
        #{city}, #{job})
    </insert>

    <delete id="deleteMemberbyUsername">
        DELETE FROM ums_member
        WHERE username= #{username}
    </delete>

    <update id="updateMemberbyUsername" parameterType="com.nerotomato.entity.UmsMember">
        UPDATE ums_member
        SET username=#{username}, password=#{password}, nickname=#{nickname}, telephone=#{telephone}, status=#{status},
        create_time=#{create_time}, gender=#{gender}, birthday=#{birthday},
        city=#{city}, job=#{job}
        WHERE username=#{username}
    </update>

</mapper>