<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nerotomato.shardingsphere.proxy.mapper.PmsProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nerotomato.separate.entity.PmsProduct">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="product_attribute_category_id" property="productAttributeCategoryId" />
        <result column="name" property="name" />
        <result column="pic" property="pic" />
        <result column="product_sn" property="productSn" />
        <result column="delete_status" property="deleteStatus" />
        <result column="publish_status" property="publishStatus" />
        <result column="verify_status" property="verifyStatus" />
        <result column="sort" property="sort" />
        <result column="sale" property="sale" />
        <result column="price" property="price" />
        <result column="original_price" property="originalPrice" />
        <result column="sub_title" property="subTitle" />
        <result column="description" property="description" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="unit" property="unit" />
        <result column="weight" property="weight" />
        <result column="keywords" property="keywords" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand_id, product_category_id, product_attribute_category_id, name, pic, product_sn, delete_status, publish_status, verify_status, sort, sale, price, original_price, sub_title, description, stock, low_stock, unit, weight, keywords
    </sql>

</mapper>
